.top{
	
	font-weight:bold;
	font-family:sans-serif;
	height:50px;
	color:#fff;
	background-color: black;
}
a{
	text-decoration: none; 
	color: #fff;
}
body{
	margin:0px;	
}
a:visited {
  color: #fff;
}
#top_index {
  list-style-type: none;
letter-spacing:2px;
  float:left;
  padding: 0;
  font-size:18px;
  
  margin-left:10px;
  padding:12px;
}
.dropdown {
	float:right;
	margin-right:17px;
	font-size:18px;
}
.dropdown p{
	margin:0px;
	padding:10px;
	padding-right:20px;
}

.dropdown-content {	
  display:none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown-content a{
	display:block;
	font-size:12px; 
}
.dropdown:hover .dropdown-content {
  display: block;
}


